@font-face {
    font-family: 'RussoOne';
    font-display: swap;
    src: url(../fonts/RussoOneRegular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuSans';
    font-display: swap;
    src: url(../fonts/UbuntuSansMedium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuSans';
    font-display: swap;
    src: url(../fonts/UbuntuSansBold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}
