* {
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    font-smooth: always;
}



#burger-ctr {
    width: 100px;
    margin: 0 auto;
    height: 100px;
    padding: 12.5px 0;
}

.bar {
    height: 15px;
    background: white;
    margin-bottom: 15px;
    border-radius: 50px;
    position: relative;
    transition: .4s all ease;
}

.bar.bottom {
    margin-bottom: 0;
}

.head {
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    margin-left: -10px;
    transform: scale(0);
}

#burger-ctr.active .head {
    top: 0;
    margin-top: 0;
    transform: scale(1);
    transition: .4s all ease .2s;
}

#burger-ctr.active {
    filter: url("#goo");
}

#burger-ctr.active .bar.center {
    transform: scale(0);
}

#burger-ctr.active .bar.top {
    transform: translateX(0) translateY(30px) rotate(45deg);
}

#burger-ctr.active .bar.bottom {
    transform: translateX(0) translateY(-30px) rotate(-45deg);
}
