<section id="sectionInfo" class="info pt--64 pb--64 pl--16 pr--16 bg--grey" aria-labelledby="infoTitle">
    <div class="info__wrapper grid gap--32">
        <h2 data-aos="fade-right" data-aos-duration="600" data-aos-once="true" id="infoTitle" class="info__title font--primary font--normal font--size-28 color--white text--uppercase">Як це працює?</h2>

        <ul class="info__list flex flex--column gap--64">
            <li class="info__list-item flex align--center gap--18">
                <span class="info__list-subitem info__line info__subline-after font--primary font--normal font--size-18 color--black flex align--center justify--center flex--no-shrink bg--blue br--circle position--relative">1</span>
                <span data-aos="fade-up" data-aos-duration="400" data-aos-once="true" class="info__list-text font--secondary font--bold font--size-15 color--white">Переходиш у наш чат-бот</span>
            </li>

            <li class="info__list-item flex align--center gap--18">
                <span class="info__list-subitem info__line info__subline-before info__subline-after font--primary font--normal font--size-18 color--black flex align--center justify--center flex--no-shrink bg--blue br--circle position--relative">2</span>
                <span data-aos="fade-up" data-aos-duration="800" data-aos-once="true" class="info__list-text font--secondary font--bold font--size-15 color--white">Оформлюєш підписку</span>
            </li>

            <li class="info__list-item flex align--center gap--18">
                <span class="info__list-subitem info__line info__subline-before info__subline-after font--primary font--normal font--size-18 color--black flex align--center justify--center flex--no-shrink bg--blue br--circle position--relative">3</span>
                <span data-aos="fade-up" data-aos-duration="1200" data-aos-once="true" class="info__list-text font--secondary font--bold font--size-15 color--white">Вносиш заставу $100 — ми повертаємо її після повернення тренажера</span>
            </li>

            <li class="info__list-item flex align--center gap--18">
                <span class="info__list-subitem info__line info__subline-before info__subline-after font--primary font--normal font--size-18 color--black flex align--center justify--center flex--no-shrink bg--blue br--circle position--relative">4</span>
                <span data-aos="fade-up" data-aos-duration="1600" data-aos-once="true" class="info__list-text font--secondary font--bold font--size-15 color--white">Надсилаємо тобі тренажер Новою Поштою</span>
            </li>

            <li class="info__list-item flex align--center gap--18">
                <span class="info__list-subitem info__subline-before font--primary font--normal font--size-18 color--black flex align--center justify--center flex--no-shrink bg--blue br--circle position--relative">5</span>
                <span data-aos="fade-up" data-aos-duration="2000" data-aos-once="true" class="info__list-text font--secondary font--bold font--size-15 color--white">Тренуєшся вдома з підтримкою бота, без зайвих дзвінків чи поїздок</span>
            </li>
        </ul>
    </div>
</section>