<section id="sectionFAQ" class="faq bg--black pt--64 pb--16 pl--16 pr--16" aria-labelledby="faqTitle">
    <div class="faq__container grid gap--32">
        <h2 id="faqTitle" data-aos="fade-right" data-aos-duration="800" data-aos-once="true" class="faq__title font--primary font--normal font--size-28 color--white color--white text--uppercase">Лишились питання?</h2>

        <div class="faq__wrapper flex flex--column gap--8">
            <div class="faq__list flex flex--column gap--8">
                <dl tabindex="0" data-aos="fade-up" data-aos-duration="400" data-aos-once="true" class="faq__list-item pt--16 pb--16 pl--16 pr--16 br--30 bg--grey grid gap--8">
                    <dt class="flex align--center justify--between">
                        <span class="faq__list-title font--secondary font--bold font--size-15 color--white pr--8">Це безпечно? Що з оплатою?</span>

                        <span class="faq__list-icon-wrapper bg--mint br--circle flex align--center justify--center flex--no-shrink">
                            <svg class="faq__list-icon" width="10" height="10" aria-label="Іконка шеврон списку" fill="none">
                                <use href="#iconChevron"></use>
                            </svg>
                        </span>
                    </dt>

                    <dd data-text class="faq__list-text font--secondary font--medium font--size-15 hidden">Абсолютно. Платформа використовує захищені способи оплати, а всі персональні дані — конфіденційні. <br> Є безкоштовний тестовий період — плати лише тоді, коли точно хочеш продовжити.</dd>
                </dl>

                <dl tabindex="0" data-aos="fade-up" data-aos-duration="600" data-aos-once="true" class="faq__list-item pt--16 pb--16 pl--16 pr--16 br--30 bg--grey grid gap--8">
                    <dt class="flex align--center justify--between">
                        <span class="faq__list-title font--secondary font--bold font--size-15 color--white pr--8">А що з харчуванням? Дієти?</span>

                        <span class="faq__list-icon-wrapper bg--mint br--circle flex align--center justify--center flex--no-shrink">
                            <svg class="faq__list-icon" width="10" height="10" aria-label="Іконка шеврон списку" fill="none">
                                <use href="#iconChevron"></use>
                            </svg>
                        </span>
                    </dt>

                    <dd data-text class="faq__list-text font--secondary font--medium font--size-15 hidden">Жодних жорстких дієт. <br> Ти просто відповідаєш на кілька питань, і бот складає збалансоване меню під твої вподобання, ритм життя та бюджет.</dd>
                </dl>

                <dl tabindex="0" data-aos="fade-up" data-aos-duration="800" data-aos-once="true" class="faq__list-item pt--16 pb--16 pl--16 pr--16 br--30 bg--grey grid gap--8">
                    <dt class="flex align--center justify--between">
                        <span class="faq__list-title font--secondary font--bold font--size-15 color--white pr--8">Як працює оренда тренажерів?</span>

                        <span class="faq__list-icon-wrapper bg--mint br--circle flex align--center justify--center flex--no-shrink">
                            <svg class="faq__list-icon" width="10" height="10" aria-label="Іконка шеврон списку" fill="none">
                                <use href="#iconChevron"></use>
                            </svg>
                        </span>
                    </dt>

                    <dd data-text class="faq__list-text font--secondary font--medium font--size-15 hidden">Оренда тренажера працює дуже просто: <br> ти оформлюєш підписку в чат-боті за 1 хвилину, вносиш завдаток $100 — ця сума повертається після повернення тренажера. <br> Ми надсилаємо макротренажер прямо тобі додому, і він залишається у тебе на весь період підписки. <br> Після завершення користування ти можеш або повернути тренажер і отримати назад завдаток, або продовжити підписку. <br> Увесь супровід — у чат-боті: індивідуальна програма харчування, онлайн-тренування та підтримка 24/7.</dd>
                </dl>
            </div>

            <div class="faq__list flex flex--column gap--8">
                <dl tabindex="0" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="faq__list-item pt--16 pb--16 pl--16 pr--16 br--30 bg--grey grid gap--8">
                    <dt class="flex align--center justify--between">
                        <span class="faq__list-title font--secondary font--bold font--size-15 color--white pr--8">Скільки часу займають тренування?</span>

                        <span class="faq__list-icon-wrapper bg--mint br--circle flex align--center justify--center flex--no-shrink">
                            <svg class="faq__list-icon" width="10" height="10" aria-label="Іконка шеврон списку" fill="none">
                                <use href="#iconChevron"></use>
                            </svg>
                        </span>
                    </dt>

                    <dd data-text class="faq__list-text font--secondary font--medium font--size-15 hidden">VibeFit враховує твій графік та енергію. Є плани на 10 хв, на 30 — ти обираєш.</dd>
                </dl>

                <dl tabindex="0" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true" class="faq__list-item pt--16 pb--16 pl--16 pr--16 br--30 bg--grey grid gap--8">
                    <dt class="flex align--center justify--between">
                        <span class="faq__list-title font--secondary font--bold font--size-15 color--white pr--8">Що, якщо я зіб’юсь із графіку?</span>

                        <span class="faq__list-icon-wrapper bg--mint br--circle flex align--center justify--center flex--no-shrink">
                            <svg class="faq__list-icon" width="10" height="10" aria-label="Іконка шеврон списку" fill="none">
                                <use href="#iconChevron"></use>
                            </svg>
                        </span>
                    </dt>

                    <dd data-text class="faq__list-text font--secondary font--medium font--size-15 hidden">Нічого страшного! Бот гнучкий — він підлаштовується під твій ритм. Просто повідом йому, що була перервa, і він адаптує план. Без провини, без “починай заново”.</dd>
                </dl>

                <dl tabindex="0" data-aos="fade-up" data-aos-duration="1400" data-aos-once="true" class="faq__list-item pt--16 pb--16 pl--16 pr--16 br--30 bg--grey grid gap--8">
                    <dt class="flex align--center justify--between">
                        <span class="faq__list-title font--secondary font--bold font--size-15 color--white pr--8">Це підходить для будь-якого віку?</span>

                        <span class="faq__list-icon-wrapper bg--mint br--circle flex align--center justify--center flex--no-shrink">
                            <svg class="faq__list-icon" width="10" height="10" aria-label="Іконка шеврон списку" fill="none">
                                <use href="#iconChevron"></use>
                            </svg>
                        </span>
                    </dt>

                    <dd data-text class="faq__list-text font--secondary font--medium font--size-15 hidden">Бот враховує вік, рівень підготовки та цілі — тому це безпечно й ефективно на будь-якому етапі життя.</dd>
                </dl>
            </div>
        </div>
    </div>
</section>

