<section id="sectionAudience" class="audience pt--64 pb--64 pl--16 pr--16 bg--grey" aria-labelledby="audienceTitle">
    <div class="audience__wrapper grid gap--32">
        <h2 data-aos="fade-right" data-aos-duration="800" data-aos-once="true" id="audienceTitle" class="audience__title font--primary font--normal font--size-28 color--white text--uppercase">Для кого?</h2>

        <ul class="audience__list flex flex--column gap--16">
            <li data-aos="fade-up" data-aos-duration="600" data-aos-once="true" class="audience__card bg--alpha-white br--16">
                <figure class="position--relative">
                    <img loading="lazy" width="127" height="123" class="audience__img position--absolute" src="./img/sections/section-audience/image_smiling_woman.webp" alt="Жінка, яка посміхається">
                    <figcaption class="audience__caption font--secondary font--bold font--size-15 flex align--center position--absolute color--white text--center">Жінкам, які хочуть почуватись і виглядати краще</figcaption>
                </figure>
            </li>

            <li data-aos="fade-up" data-aos-duration="800" data-aos-once="true" class="audience__card bg--alpha-white br--16">
                <figure class="position--relative">
                    <img loading="lazy" width="147" height="142" class="audience__img position--absolute" src="./img/sections/section-audience/image_busy_businesswoman.webp" alt="Бізнес-леді з планшетом">
                    <figcaption class="audience__caption font--secondary font--bold font--size-15 flex align--center position--absolute color--white text--center">Бізнес-леді без часу на спортзал</figcaption>
                </figure>
            </li>

            <li data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="audience__card bg--alpha-white br--16">
                <figure class="position--relative">
                    <img loading="lazy" width="127" height="123" class="audience__img position--absolute" src="./img/sections/section-audience/image_energetic_mom_with_baby.webp" alt="Мама з дитиною на руках">
                    <figcaption class="audience__caption font--secondary font--bold font--size-15 flex align--center position--absolute color--white text--center">Мамам, яким потрібна енергія та тонус</figcaption>
                </figure>
            </li>

            <li data-aos="fade-up" data-aos-duration="1200" data-aos-once="true" class="audience__card bg--alpha-white br--16">
                <figure class="position--relative">
                    <img loading="lazy" width="127" height="123" class="audience__img position--absolute" src="./img/sections/section-audience/image_woman_home_comfort_laptop.webp" alt="Жінка відпочиває вдома">
                    <figcaption class="audience__caption font--secondary font--bold font--size-15 flex align--center position--absolute color--white text--center">Тим, хто цінує комфорт і простір вдома</figcaption>
                </figure>
            </li>

            <li data-aos="fade-up" data-aos-duration="1400" data-aos-once="true" class="audience__card bg--alpha-white br--16">
                <figure class="position--relative">
                    <img loading="lazy" width="137" height="133" class="audience__img position--absolute" src="./img/sections/section-audience/image_bride_preparing_wedding.webp" alt="Наречена готується до події">
                    <figcaption class="audience__caption font--secondary font--bold font--size-15 flex align--center position--absolute color--white text--center">Нареченим, які готуються до важливої події</figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section>