<section id="sectionPrice" class="price bg--grey pl--16 pr--16 pt--16 pb--64" aria-labelledby="priceTitle">
    <div class="price__container grid gap--32">
        <header class="grid gap--32">
            <h2 data-aos="fade-right" data-aos-duration="600" data-aos-once="true" id="priceTitle" class="price__title font--primary font--normal font--size-28 color--white text--uppercase text--center">Тарифи</h2>

            <p data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="price__subtitle font--secondary font--medium font--size-15 color--white text--center">Обери тариф, який підходить саме тобі</p>
        </header>

        <div class="price__wrapper grid gap--32">
            <article data-aos="zoom-in" data-aos-duration="600" data-aos-once="true" class="price__card bg--black pt--48 pb--24 pl--24 pr--24 flex flex--column gap--16 br--16">
                <header class="price__card-head position--relative mb--16 grid gap--16">
                    <h3 class="price__card-title font--primary font--normal font--size-16 color--white text--uppercase">Пробний</h3>

                    <p class="price__card-text font--secondary font--medium font--size-15 color--white">
                        <span class="font--bold">Познайомся з VibeFit легко!</span>

                        <br>

                        Ідеальний варіант, щоб протестувати функціонал і стиль.
                    </p>
                </header>

                <strong class="price__card-price font--primary font--normal color--white text--uppercase flex align--center justify--between">
                    <span class="price__card-current flex flex--no-shrink font--size-24">1999 UAH</span>
                    <span class="price__card-discount flex flex--no-shrink font--size-20 position--relative">2999 UAH</span>
                </strong>

                <a href="https://t.me/Rusalivskiy_Bohdan" class="price__card-btn price__card-btn-clear font--secondary font--bold font--size-18 color--white flex flex--no-shrink align--center justify--center br--36">
                    <span>Придбати підписку</span>
                </a>

                <div class="price__card-wrapper flex flex--column justify--between gap--32">
                    <ul class="price__card-list grid gap--16">
                        <li class="flex align--center gap--16">
                            <div class="price__card-icon-wrapper bg--blue br--circle flex align--center justify--center flex--no-shrink">
                                <svg class="price__icon" width="16" height="16" role="img" aria-label="Іконка чеклист">
                                    <use href="#iconCheck"></use>
                                </svg>
                            </div>

                            <span class="price__card-item font--secondary font--normal font--size-15 color--white">Доступ до чат-бота</span>
                        </li>

                        <li class="flex align--center gap--16">
                            <div class="price__card-icon-wrapper bg--blue br--circle flex align--center justify--center flex--no-shrink">
                                <svg class="price__icon" width="16" height="16" role="img" aria-label="Іконка чеклист">
                                    <use href="#iconCheck"></use>
                                </svg>
                            </div>

                            <span class="price__card-item font--secondary font--normal font--size-15 color--white">Персоналізовані поради по харчуванню та активності</span>
                        </li>
                    </ul>

                    <div class="price__card-places flex align--center justify--between">
                        <span class="price__card-places-text font--secondary font--bold font--size-15 color--white">Залишилось місць</span>
                        <span id="placesSTART" class="price__card-places-counter font--secondary font--bold flex align--center justify--center font--size-15 color--black bg--blue">0</span>
                    </div>
                </div>
            </article>

            <article data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true" class="price__card bg--white pt--48 pb--24 pl--24 pr--24 flex flex--column gap--16 br--16 position--relative">
                <span class="price__card-extra font--secondary font--medium font--size-15 color--black bg--blue pt--8 pb--8 pl--24 pr--24 position--absolute">Найпопулярніший</span>

                <header class="price__card-head position--relative mb--16 grid gap--16">
                    <h3 class="price__card-title font--primary font--normal font--size-16 color--black text--uppercase">Базовий</h3>

                    <p class="price__card-text font--secondary font--medium font--size-15 color--black">
                        <span class="font--bold">Твій персональний фітнес-помічник вдома.</span>

                        <br>

                        Підійде для тих, хто хоче результатів без спортзалу.
                    </p>
                </header>

                <strong class="price__card-price font--primary font--normal color--black text--uppercase flex align--center justify--between">
                    <span class="price__card-current flex flex--no-shrink font--size-24">2999 UAH</span>
                    <span class="price__card-discount flex flex--no-shrink font--size-20 position--relative">3999 UAH</span>
                </strong>

                <a href="https://t.me/Rusalivskiy_Bohdan" class="price__card-btn price__card-btn-filled font--secondary font--bold font--size-18 color--black flex flex--no-shrink align--center justify--center bg--blue br--36">
                    <span>Придбати підписку</span>
                </a>

                <div class="price__card-wrapper flex flex--column justify--between gap--32">
                    <ul class="price__card-list grid gap--16">
                        <li class="flex align--center gap--16">
                            <div class="price__card-icon-wrapper bg--blue br--circle flex align--center justify--center flex--no-shrink">
                                <svg class="price__icon" width="16" height="16" role="img" aria-label="Іконка чеклист">
                                    <use href="#iconCheck"></use>
                                </svg>
                            </div>

                            <span class="price__card-item font--secondary font--normal font--size-15 color--black">Повний доступ до чат-бота на 1 місяць</span>
                        </li>

                        <li class="flex align--center gap--16">
                            <div class="price__card-icon-wrapper bg--blue br--circle flex align--center justify--center flex--no-shrink">
                                <svg class="price__icon" width="16" height="16" role="img" aria-label="Іконка чеклист">
                                    <use href="#iconCheck"></use>
                                </svg>
                            </div>

                            <span class="price__card-item font--secondary font--normal font--size-15 color--black">Програма харчування і тренувань під твій запит</span>
                        </li>

                        <li class="flex align--center gap--16">
                            <div class="price__card-icon-wrapper bg--blue br--circle flex align--center justify--center flex--no-shrink">
                                <svg class="price__icon" width="16" height="16" role="img" aria-label="Іконка чеклист">
                                    <use href="#iconCheck"></use>
                                </svg>
                            </div>

                            <span class="price__card-item font--secondary font--normal font--size-15 color--black">Онлайн-підтримка тренера у боті</span>
                        </li>
                    </ul>

                    <div class="price__card-places flex align--center justify--between">
                        <span class="price__card-places-text font--secondary font--bold font--size-15 color--black">Залишилось місць</span>
                        <span id="placesBASE" class="price__card-places-counter font--secondary font--bold flex align--center justify--center font--size-15 color--black bg--blue">0</span>
                    </div>
                </div>
            </article>

            <article data-aos="zoom-in" data-aos-duration="600" data-aos-once="true" class="price__card bg--black pt--48 pb--24 pl--24 pr--24 flex flex--column gap--16 br--16">
                <header class="price__card-head position--relative mb--16 grid gap--16">
                    <h3 class="price__card-title font--primary font--normal font--size-16 color--white text--uppercase">Pro</h3>

                    <p class="price__card-text font--secondary font--medium font--size-15 color--white">
                        <span class="font--bold">Максимум підтримки + власний тренажер вдома.</span>

                        <br>

                        Комплексне рішення для тих, хто хоче результату з комфортом.
                    </p>
                </header>

                <strong class="price__card-price font--primary font--normal color--white text--uppercase flex align--center justify--between">
                    <span class="price__card-current flex flex--no-shrink font--size-24">3999 UAH</span>
                    <span class="price__card-discount flex flex--no-shrink font--size-20 position--relative">5999 UAH</span>
                </strong>

                <a href="https://t.me/Rusalivskiy_Bohdan" class="price__card-btn price__card-btn-clear font--secondary font--bold font--size-18 color--white flex flex--no-shrink align--center justify--center br--36">
                    <span>Придбати підписку</span>
                </a>

                <div class="price__card-wrapper flex flex--column justify--between gap--32">
                    <ul class="price__card-list grid gap--16">
                        <li class="flex align--center gap--16">
                            <div class="price__card-icon-wrapper bg--blue br--circle flex align--center justify--center flex--no-shrink">
                                <svg class="price__icon" width="16" height="16" role="img" aria-label="Іконка чеклист">
                                    <use href="#iconCheck"></use>
                                </svg>
                            </div>

                            <span class="price__card-item font--secondary font--normal font--size-15 color--white">Повний доступ до чат-бота на 1 місяць</span>
                        </li>

                        <li class="flex align--center gap--16">
                            <div class="price__card-icon-wrapper bg--blue br--circle flex align--center justify--center flex--no-shrink">
                                <svg class="price__icon" width="16" height="16" role="img" aria-label="Іконка чеклист">
                                    <use href="#iconCheck"></use>
                                </svg>
                            </div>

                            <span class="price__card-item font--secondary font--normal font--size-15 color--white">Програма харчування і тренувань під твій запит</span>
                        </li>

                        <li class="flex align--center gap--16">
                            <div class="price__card-icon-wrapper bg--blue br--circle flex align--center justify--center flex--no-shrink">
                                <svg class="price__icon" width="16" height="16" role="img" aria-label="Іконка чеклист">
                                    <use href="#iconCheck"></use>
                                </svg>
                            </div>

                            <span class="price__card-item font--secondary font--normal font--size-15 color--white">Онлайн-підтримка тренера у боті</span>
                        </li>

                        <li class="flex align--center gap--16">
                            <div class="price__card-icon-wrapper bg--blue br--circle flex align--center justify--center flex--no-shrink">
                                <svg class="price__icon" width="16" height="16" role="img" aria-label="Іконка чеклист">
                                    <use href="#iconCheck"></use>
                                </svg>
                            </div>

                            <span class="price__card-item font--secondary font--normal font--size-15 color--white">Власний тренажер з доставкою по Україні</span>
                        </li>
                    </ul>

                    <div class="price__card-places flex align--center justify--between">
                        <span class="price__card-places-text font--secondary font--bold font--size-15 color--white">Залишилось місць</span>
                        <span id="placesPRO" class="price__card-places-counter font--secondary font--bold flex align--center justify--center font--size-15 color--black bg--blue">0</span>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>