<section class="hero bg--black pl--16 pr--16 pb--18" aria-labelledby="heroTitle">
    <div class="hero__box m--auto position--relative">
        <div class="hero__wrapper grid gap--18">
            <div class="hero__container grid gap--18">
                <header class="hero__header grid gap--18">
                    <h1 data-aos="fade-right" data-aos-duration="600" data-aos-once="true" id="heroTitle" class="hero__title font--primary font--normal font--size-32 color--white text--uppercase">Фітнес, що підлаштовується під тебе</h1>

                    <p data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="hero__text font--secondary font--medium font--size-15 color--white"><span class="font--bold color--blue">VibeFit</span> — це чат-бот, який підбирає тренування, харчування та навіть орендує тренажер. Усе — без походів у зал</p>
                </header>

                <div class="hero__content flex flex--column align--end gap--40">
                    <div class="hero__btn-wrapper flex flex--column align--end gap--8">
                        <a data-aos="zoom-in" data-aos-duration="600" data-aos-once="true" href="#sectionCompanion" class="hero__btn hero__btn-filled font--secondary font--bold font--size-18 color--black bg--mint flex align--center justify--center btn--small br--36 pt--12 pb--12">
                            <span>Почати зараз</span>
                        </a>

                        <a data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true" href="#sectionInfo" class="hero__btn hero__btn-clear font--secondary font--bold font--size-18 color--white flex align--center justify--center btn--transparent btn--small br--36 pt--12 pb--12">
                            <span>Як це працює?</span>
                        </a>
                    </div>

                    <figure data-aos="zoom-in" data-aos-duration="1400" data-aos-once="true" class="hero__img-wrapper bg--alpha-white position--relative br--16">
                        <img loading="lazy" class="hero__img position--absolute" width="86" height="83" src="./img/sections/section-hero/image_smartphones.webp" alt="Два смартфони з відкритим додатком VibeFit">
                    </figure>
                </div>
            </div>

            <ul class="hero__item-list flex flex--column align--end gap--8">
                <li data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true" class="hero__item flex align--center justify--center bg--alpha-white gap--8 br--36 pt--8 pb--8 pl--16 pr--16">
                    <svg class="hero__icon" width="16" height="16" role="img" aria-label="Іконка гантелі">
                        <use href="#iconEx"></use>
                    </svg>

                    <span class="hero__item-text font--secondary font--size-15 font--medium color--white">Макротренажер</span>
                </li>

                <li data-aos="zoom-in" data-aos-duration="1600" data-aos-once="true" class="hero__item flex align--center justify--center bg--alpha-white gap--8 br--36 pt--8 pb--8 pl--16 pr--16">
                    <svg class="hero__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M11.3333 0.673171L4.66665 0.666504C3.93331 0.666504 3.33331 1.2665 3.33331 1.99984V13.9998C3.33331 14.7332 3.93331 15.3332 4.66665 15.3332H11.3333C12.0666 15.3332 12.6666 14.7332 12.6666 13.9998V1.99984C12.6666 1.2665 12.0666 0.673171 11.3333 0.673171ZM11.3333 12.6665H4.66665V3.33317H11.3333V12.6665Z" fill="white"/>
                    </svg>

                    <span class="hero__item-text font--secondary font--size-15 font--medium color--white">Персональний бот</span>
                </li>

                <li data-aos="zoom-in" data-aos-duration="1700" data-aos-once="true" class="hero__item flex align--center justify--center bg--alpha-white gap--8 br--36 pt--8 pb--8 pl--16 pr--16">
                    <svg class="hero__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8.47132 1.52869L14.4713 7.52869C14.8913 7.94869 14.594 8.66669 14 8.66669H13.3333V12.6667C13.3333 13.1971 13.1226 13.7058 12.7475 14.0809C12.3725 14.456 11.8638 14.6667 11.3333 14.6667H10.6667V10C10.6667 9.48988 10.4718 8.99901 10.1218 8.62785C9.77182 8.25668 9.29325 8.03328 8.78398 8.00335L8.66665 8.00002H7.33332C6.80289 8.00002 6.29418 8.21073 5.9191 8.58581C5.54403 8.96088 5.33332 9.46959 5.33332 10V14.6667H4.66665C4.13622 14.6667 3.62751 14.456 3.25244 14.0809C2.87737 13.7058 2.66665 13.1971 2.66665 12.6667V8.66669H1.99999C1.40665 8.66669 1.10865 7.94869 1.52865 7.52869L7.52865 1.52869C7.65367 1.40371 7.82321 1.3335 7.99998 1.3335C8.17676 1.3335 8.3463 1.40371 8.47132 1.52869ZM8.66665 9.33335C8.84346 9.33335 9.01303 9.40359 9.13806 9.52862C9.26308 9.65364 9.33332 9.82321 9.33332 10V14.6667H6.66665V10C6.66667 9.83673 6.72662 9.67913 6.83513 9.55711C6.94363 9.43508 7.09315 9.35713 7.25532 9.33802L7.33332 9.33335H8.66665Z" fill="white"/>
                    </svg>

                    <span class="hero__item-text font--secondary font--size-15 font--medium color--white">Вдома — без залу</span>
                </li>
            </ul>
        </div>

        <img fetchpriority="high" class="hero__img-woman position--absolute" width="600" height="620" src="./img/sections/section-hero/image_woman.webp" alt="Жінка в спортивному одязі тримає смартфон з додатком VibeFit">
    </div>
</section>